@import "_reset";
@import "_mixin";
@import "_var";
body{
    background: #191818;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    .header{
        width: 100%;
        height: 68px;
        background: #191818;
        .header-logo{
            max-width: 1336px;
            margin: 0 auto;
            padding: 11px 0;
            img{
                width: 281px;
            }
            .gohome{
                float: right;
                height: 68px;
                line-height: 68px;
                a{
                    color:#fff;
                    font-size: 20px;
                }
            }
            .hide{
                display: none;
            }
        }
    }
    .popup{
        z-index: 4;
        position: fixed;
        width:725px;
        top:30vh;
        left: 30%;
        display: none;
        height: 305px;
        .title{
            background: #262525;
            color: #D6D2D2;
            position: relative;
            font-size: 24px;
            height: 56px;
            line-height: 56px;
            text-align: center;
            span{
                position: absolute;
                right: 4%;
                width: 23px;
                height: 22px;
                top: 17px;
                font-size: 18px;
                @include radius(100%);
                color: #C49B63;
                border:1px solid #C49B63;
                line-height: 1;
            }
            span:hover{
                color:#fff;
                background: #C49B63;
                cursor: pointer;
            }
        }
        .content{
            background: #fff;
            text-align: center;
            color:#262525;
            font-size: 12px;
            height: 249px;
        }
        .bg{
            position: absolute;
            bottom:0;
            width: 20%;
        }
    }
    .popup-book-going {
        .content{
            padding-top:37px;
            >div{
                height: 37px;
                line-height: 37px;
                width: 60%;
                margin: 0 auto;
                *{
                    float:left;
                }
                label{
                    width:30%;
                    display: inline-block;
                    text-align: right;
                    color:#262525;
                    font-size:20px;
                }
                input{
                    height: 37px;
                    line-height: 37px;
                    padding: 0 5px;
                    font-size:20px;
                }
            }
            .phone{
                input{
                    width:65%;
                }
                .tips{
                    color:$color-red;
                    position: absolute;
                    left: 78%;
                    display: none;
                    font-size:18px;
                }
            }
            .code{
                margin-top:19px;
                input{
                    width:36%;
                }
                button{
                    margin-left: 1%;
                    width:28%;
                    height: 37px;
                    line-height: 37px;
                    color:#fff;
                    background: #C49B63;
                    border: none;
                    cursor: pointer;
                }
                button.active{
                    background: #D6D2D2;
                }
                .tips{
                    color:$color-red;
                    position: absolute;
                    left: 78%;
                    display: none;
                    font-size:18px;
                }
            }
            .popup-sub{
                background: #262525;
                color:#fff;
                height: 37px;
                line-height: 37px;
                width: 156px;
                text-align: center;
                @include radius(4px);
                border: none;
                cursor: pointer;
            }
        }
    }
    .popup-book-success {
        .content .content-text{
            font-size:24px;
            font-weight: bold;
            margin:0 0 4%;
            padding-top: 10%;
        }
    }
    .mode{
        width: 100vw;
        height: 100vh;
        position:fixed;
        top:0;
        left: 0;
        z-index: 2;
        background: rgba(0, 0, 0, 0.4);
        display: none;
    }
    .playVideo{
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        background: rgba(0,0,0,0.6);
        z-index:-1;
        opacity: 0;
        visibility: hidden;
        transition:opacity 0.6s;
        video{
            width: 60%;
            position: absolute;
            top: 50vh;
            transform: translateY(-50%) scale(0.2);
            left: 20%;
            display: block;
            transition: 0.6s;
        }
        span{
            font-size: 18px;    
            position: absolute;
            right: 18%;
            width: 23px;
            height: 22px;
            top: 12%;
            @include radius(100%);
            color: #C49B63;
            border:1px solid #C49B63;
            line-height: 1;
            text-align: center
        }
        span:hover{
            color:#fff;
            background: #C49B63;
            cursor: pointer;
        }
    }
    .playVideo-show{
        opacity: 1;
        visibility: visible;
        z-index: 100;
        video{
            transform:translateY(-50%) scale(1) !important;
        }
    }
    a:hover{
        -webkit-tap-highlight-color: transparent;
    }
}
@media (max-width: 1335px ) {
    .header{
        height: 60px;
        .header-logo{
            max-width: 960px !important;
            padding: 13.5px 0 !important;
            img{
                width: 250px !important;
            }
            .gohome{
                height: 60px !important;
                line-height: 60px !important;
                a{
                    color:#fff !important;
                    font-size: 16px !important;
                }
            }
        }
    }
}