@charset "utf-8";
@import "_common";
@import "swiper.min.css";
body{
    background: #fff;
}
.banner{
    width: 100%;
    min-width: 1336px;
    position: relative;
    img{
        width: 100%;
        background: #dfdfdf;
    }
}
.content{
    width: 1336px;
    margin:  0 auto;
    .rule{
        text-align: center;
        margin: 41px 0 48px;
        a{
            color: #383838;
            font-size: 18px;
            text-decoration: underline;
        }
    }
    .card-list{
        .box{   
            display: inline-block;
            width:32%;
            float:left;
            height: 653px;
            border: 1px solid #D8D8D8;
            margin-bottom:2%;
            @include radius(8px);
            overflow: hidden;
            position: relative;
            background: url(../images/by-bg.png) no-repeat top;
            background-size: 100%;
            @include shadow(0, 0 ,10px ,rgba(200,200,200,.4));
            @include transition(all,.1s,linear);
            .box-title{
                padding: 8% 4% 3%;
                .box-title-name{
                    color:#B38950;
                    font-size:24px;
                    margin-right: 2%;
                    font-weight: bold;
                }
                .box-title-school{
                    color:#666666;
                    font-size:12px;
                }
            }
            .box-img{
                margin: 0 4%;
                img{    
                    width:100%;
                    background: #dfdfdf;
                }
            }
            .box-text{
                margin: 3% 4% 0;
                color:#666666;
                .box-text-title{
                    font-size:18px;
                    margin-bottom:10px;
                    font-weight:bold;
                }
                .box-text-description{
                    font-size:16px;
                    line-height: 1.6;
                    text-align:justify;
                }
            }
            .box-bottom{
                position: absolute;
                bottom: 0px;
                width: 92%;
                height: 64px;
                margin: 0 4%;
                border-top: 1px solid #BE9D6A;
                button{
                    color:#CB9718;
                    @include radius(16px);
                    border:1px solid #BE9D6A;
                    background: #BE9D6A ;
                    height: 32px;
                    font-size: 14px;                
                    margin-top:16px;
                    line-height: 32px;
                    padding:0 6%;
                    float: right;
                    color: #fff;
                    cursor: pointer;
                }
            }
        }
        .box:hover{
            @include scale(1.01);
            @include shadow(0, 0 ,15px ,rgba(100,100,100,.4));
        }
        .box:nth-of-type(3n-1){
            margin:0 2% 2%;
        }
        .page2,.page3{
            display: none;
        }
        .page{
            text-align: center;
            padding-bottom: 40px;
            -moz-user-select:none;/*火狐*/
            -webkit-user-select:none;/*webkit浏览器*/
            -ms-user-select:none;/*IE10*/
            -khtml-user-select:none;/*早期浏览器*/
            user-select:none;
            .page-box{
                border: 1px solid #BE9D6A;
                color: #BE9D6A;
                display: inline-block;
                height: 39px;
                line-height: 39px;
                width: 39px;
                margin: 0 8px;
                border-radius: 4px;
                &:hover,+.click{
                    cursor: pointer;
                    background: #BE9D6A;
                    color: #fff;
                }
            }
            .ban{
                color: #d9d9d9;
                border: 1px solid #d9d9d9;
                cursor: none;
                &:hover{
                    color: #d9d9d9;
                    border: 1px solid #d9d9d9;
                    background: #fff;
                }
            }
        }
    }
}
.fixed-block{
    z-index: 4;
    position: fixed;
    top: 10vh;
    height: 80vh;
    width: 100%;
    display: none;
    .show-block{
        width: 64%;
        margin: 0 auto;
        position: relative;
        .rules{
            padding: 6% 5%;
            background: #fff;
            height: 80vh;
            overflow-y: scroll;
            .rules-title{
                font-size: 48px;
                font-weight: bold;
                padding-bottom: 2%;
                border-bottom: 2px solid #C49B63;
                color:#333333;
            }
            .rules-content{
                margin:4% 0 8%;
                p{
                    margin-bottom: 3%;
                    color:#666666 ;
                    line-height: 1.8;
                    font-size: 16px;
                }
                ul{
                    margin-top: -3%;
                    li{
                        color:#666666 ;
                        line-height: 1.8;
                        font-size: 16px;
                    }
                }
                b{
                    display: block;
                    color:#4a4a4a;
                    font-size: 24px;
                }
                span{
                    color:#C49B63;
                    font-size: 16px;
                }
            }
            .go-back{
                color:#fff;
                background: #C49B63;
                height: 32px;
                font-size: 16px;      
                line-height: 32px;
                width:120px;
                text-align: center;
                margin: 8% auto 4%;
                display: block;  
                border:none;
                @include radius(4px);
                cursor: pointer;
            }
        }
        .rules::-webkit-scrollbar {  /* 滚动条整体部分 */
            width:10px;
            margin-right:2px
        }
        .rules::-webkit-scrollbar-button { /* 滚动条两端的按钮 */
            width:0;
            height: 0;
            background-color: rgba(0,0,0,.0);
        }
        .rules::-webkit-scrollbar-track {  /* 外层轨道 */
            border-radius: 10px;
        }
        .rules::-webkit-scrollbar-track-piece {  /*内层轨道，滚动条中间部分 */
            background-color: rgba(0,0,0,.1);
            border-radius: 4px;
        }
        .rules::-webkit-scrollbar-thumb {  /* 滑块 */
            width:10px;
            border-radius: 5px;
            background: rgba(0,0,0,.4);
        }
        .rules::-webkit-scrollbar-thumb:hover { /* 鼠标移入滑块 */
            background: rgba(0,0,0,.8);
        }
        .close{
            position: absolute;
            right:-4%;
            width: 22px;
            height: 22px;
            line-height: 1.2;
            top: -4%;
            text-align: center;
            @include radius(100%);
            color: #C49B63;
            border:1px solid #C49B63;
        }
        .close:hover{
            color:#fff;
            background: #C49B63;
            cursor: pointer;
        }
    }
}
.mode{
}
@media (max-width: 1335px ) {
    
.banner{
    width: 100%;
    min-width:960px !important;
}
.content{
    width: 960px !important;
    .card-list .box {
        height: 505px !important;
    }
    .card-list .box .box-title .box-title-name{
        font-size: 18px !important;
    }
    .card-list .box .box-text .box-text-title{
        font-size: 16px!important;
    }
    .card-list .box .box-text .box-text-description{
        font-size: 12px;
    }
}
}