@charset "utf-8";
@import "_common";

html, body {
  width: 100%;
  height: 100%;
}

.main-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.bg-box {
  width: 100%;
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
}

.part-2-wrapper {
  width: 100%;
  height: 100%;
  z-index: 1;

  .main-content {
    height: 100%;
    position: relative;
  }

  .p2-con {
    width: 592px;
    line-height: 0;
    @include abs-center;

    img {
      width: 100%;
    }
  }
}

.part-1 {
  width: 100%;
  position: relative;

  .part-1-wrapper {
    width: 100%;
    height: 955px;
    @include bg('../images/part-1-bg.jpg');
    z-index: 2;
    position: relative;

    .main-content {
      height: 895px;
      position: relative;
    }

    .phone-box {
      width: 780px;
      line-height: 0;
      position: absolute;
      top: 155px;
      left: -146px;

      img {
        width: 100%;
      }
    }

    .right-box {
      width: 335px;
      position: absolute;
      top: 240px;
      right: 40px;

      .part-txt {
        line-height: 0;
        margin-bottom: 80px;
      }

      p {
        font-size: 16px;
        color: #D0EAFF;
      }

      .download-box {
        padding-top: 15px;
        @include clearfix;

        .qrcode {
          width: 146px;
          float: left;
          line-height: 0;
          margin-right: 23px;

          img {
            width: 100%;
          }
        }
      }

      .download-btn-box {
        width: 162px;
        float: right;

        a {
          display: block;
          line-height: 0;
          margin-bottom: 23px;
        }
      }
    }

    .part-1-cover {
      width: 100%;
      height: 184px;
      position: absolute;
      bottom: -58px;
      left: 0;

      &:after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        @include bg('../images/part-1-cover.png');
        bottom: 0;
        left: 0;
        z-index: 2;
      }
    }
  }

}

.part-2 {
  .part-2-1-wrapper {
    background-color: #fff;
    position: relative;

    .main-content {
      padding: 200px 0 80px;
      position: relative;
      @include clearfix;

      .animate-bg {
        width: 870px;
        height: 100%;
        position: absolute;
        top: 0;
        @include opacity(100);
        right: -35px;
        display: none;
        @include bg('../images/animate-bg1.png');
        background-position: left 20%;
        background-size: 35% auto;
        z-index: 0;
      }

      img {
        width: 100%;
      }

      .left-box {
        width: 500px;
        float: left;
        position: relative;
        z-index: 1;

        .img-btm {
          width: 500px;
          height: 495px;
          margin-top: 135px;
          position: relative;

          img {
            margin-left: -40px;
          }
        }
      }

      .right-box {
        width: 500px;
        height: 668px;
        float: right;
        position: relative;
        z-index: 1;
        padding-top: 50px;
      }
    }

    .part-2-cover {
      width: 100%;
      height: 308px;
      @include bg('../images/part-2-cover.png');
      position: absolute;
      left: 0;
      bottom: -308px;
      z-index: 2;

      &.blue-cover {
        @include bg('../images/blue-cover.png');
      }
    }
  }

  .part-2-2-wrapper {
    padding: 240px 0 0;
    height: 100%;
    position: relative;

    &.blue-bg {
      padding: 440px 0 320px;
      @include bg('../images/blue-bg.jpg');
      background-color: #0097e0;
      background-position: center 100px;
      position: relative;
      z-index: 1;

      .main-content {
        height: 815px;
      }
    }

    .main-content {
      position: relative;
      height: 100%;

      .p2-con {
        line-height: 0;
        @include abs-center;
      }
    }
  }
}

.txt-top {
  width: 500px;
  height: 102px;
  overflow: hidden;
  position: relative;

  h4 {
    font-size: 50px;
    color: #08223E;
  }

  p {
    font-size: 18px;
    color: #35679D;
  }
}

.part-3 {
  .part-3-1-wrapper {
    padding: 80px 0 0;
    background-color: #f2f6f9;
    position: relative;

    .main-content {
      height: 1050px;
      position: relative;

      .animate-bg {
        width: 870px;
        height: 100%;
        position: absolute;
        top: 0;
        @include opacity(100);
        right: 0;
        @include bg('../images/animate-bg2.png');
        background-position: left 20%;
        background-size: 35% auto;
        display: none;
        z-index: 0;
      }

      .txt-top {
        position: absolute;
        top: 80px;
        right: 40px;
        z-index: 1;
      }

      .img-btm {
        position: absolute;

        &.big {
          width: 600px;
          height: 832px;
          top: 75px;
          left: 0;
          z-index: 1;

          img {
            margin-left: -50px;
          }
        }

        &.small {
          width: 600px;
          height: 523px;
          top: 385px;
          left: 355px;
          z-index: 2;
        }
      }
    }

    .part-3-cover {
      width: 100%;
      height: 224px;
      @include bg('../images/part-3-cover.png');
      position: absolute;
      left: 0;
      bottom: -224px;
    }
  }

  .part-3-2-wrapper {
    background-color: #fff;
    position: relative;

    .main-content {
      height: 100%;
      position: relative;

      .p2-con {
        line-height: 0;
        @include abs-center;
      }
    }
  }
}

.part-4-cover {
  width: 100%;
  height: 160px;
  @include bg('../images/last-cover.png');
  position: absolute;
  left: 0;
  bottom: 0;
}

.footer {
  background-color: #fff;
}

#cover-part-2-2 {
  background-color: #f2f6f9;
}

#txt1, #txt2, #txt3 {
  width: 100%;
  height: 102px;
  left: 0;
  // top: 102px;
  top: 0;
  opacity: 0;
  position: absolute;

  &.animate {
    @include animation(upShow, 1s, 2s, 1, forwards);
  }
}


#part-2-left-img,
#part-3-left-img,
#part-4-left-img {
  width: 100%;
  left: 0;
  // top: 300px;
  top: 0;
  opacity: 0;
  position: absolute;

  &.animate {
    @include animation(upShow, 1s, 2s, 1, forwards);
  }
}

#part-2-right-img,
#part-3-right-img,
#part-4-right-img {
  width: 100%;
  left: 0;
  // top: 300px;
  top: 0;
  opacity: 0;
  position: absolute;

  &.animate {
    @include animation(upShow, 1s, 2s, 1, forwards);
  }
}

.fixed-box {
  width: 82px;
  position: fixed;
  bottom: 125px;
  right: 75px;
  z-index: 9999;

  .fixed-content {
    width: 100%;
    position: relative;

    a {
      display: block;
      line-height: 0;
      opacity: 0.5;

      &:hover {
        opacity: 1;
        @include transition(.5s);
      }

      & + a {
        margin-top: 25px;
      }
    }
  }

  .qrcode-box {
    width: 296px;
    padding: 30px;
    text-align: center;
    position: absolute;
    bottom: 0;
    right: 118px;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    display: none;

    p {
      font-size: 22px;
      line-height: 2;
      font-family: '微软雅黑';
    }

    .img-box {
      line-height: 0;

      img {
        width: 100%;
      }
    }
  }
}
