@charset "utf-8";
@import "_common";
@import "swiper.min.css";
.text{
    width:1024px;
    margin:0 auto 40px;
    text-align: center;
    .text-title{
        color: #CB9718;
        font-size: 36px;
        margin-top: 45px;
        text-align: left;
    }
}
// 科技赋能教育
.technology{
    background:#262525 ;
    color: #fff;
    padding: 8% 0;
    .technology-position{
        font-size: 12px;
        width: 1024px;
        margin: 0 auto 9px;
    }
    .technology-title{
        font-size: 44px;
        width: 1024px;
        margin: 0 auto 9px;
        font-weight: bold;
        letter-spacing: 2px;
    }
    .technology-title-2{
        font-size: 18px;
        width: 1024px;
        margin: 0 auto;
    }
    .technology-description{
        font-size: 12px;
        width: 1024px;
        margin: 30px auto;
    }
    .technology-btn{
        width: 1024px;
        margin: 0 auto 0;
        div{
            font-size: 16px;
            display: inline-block;
            border: 1px solid #C39A61;
            text-align: center;
            width: 100px;
            height: 30px;
            line-height: 30px;
            margin-right:25.5px;
            transition: all .3s ; 
        }
        div:hover{
            cursor: pointer;
            background: #C39A61;
        }
    }
}
// 大会嘉宾
.guest{
    .guest-banner{
        width: 1024px;
        margin:0 auto;
        .swiper-slide{
            width: 22%;
            height: 300px;
            overflow: hidden;
            img{
                width: 100%;
                display: block;
            }
            img:nth-child(1){
                visibility: hidden;
                position: absolute;
            }
        }
        .swiper-slide-active{
            width: 34% !important;
            img:nth-child(1){
                visibility: visible;
                position: relative;
            }
        }
    }
}
// 日程安排
.arrange{
    .list{
        border-top: 1px solid #cb9718;
        border-bottom: 1px solid #cb9718;
        width: 1024px;
        margin: auto;
        padding:3% 0;
        .list-box{
            overflow: hidden;
            .list-left{
                color: #B1B1B1;
                padding-right:6%;
                display: inline-block;
                width: 10%;
                float:left;
                .list-left-title{
                    font-size: 18px;
                }
                .list-left-timetable{
                    font-size: 12px;
                }
            }
            .list-right{
                border-left:1px solid #666;
                width: 90%;
                display: inline-block;
                padding-left:6%;
                font-size:12px;
                color: #B1B1B1;
                float: left;
                .lists{
                    height: 40px;
                    margin-bottom: 9px;
                    div{
                        display: inline-block;
                        float: left;
                        line-height: 1.6;
                    }
                    .meeting{
                        width: 50%;
                        color:#fff;
                    }
                    .name{
                        width: 40%;
                        text-align: center;
                    }
                    .time{
                        width: 10%;
                        text-align: right;
                    }
                }
                
            }
        }
    }
}
// 庆典
.celebration{
    .celebration-banner{
        margin: 40px auto;
        width:1024px;
        .swiper-slide{  
            padding-bottom:2%;
            position: relative;
            text-align: center;
            .swiper-slide-box{
                position: relative;
                margin: 10% auto;
                width: 32%;
                overflow: hidden;
                display: inline-block;
                margin: 0 20px 20px 0;
                img{
                    width: 100%;
                }
                .box-text{
                    color: #fff;
                    position: absolute;
                    bottom: 0;
                    overflow: hidden;
                    text-align: left;
                    width: 100%;
                    height: 45%;
                    padding: 0 11%;
                    font-size: 12px;
                    transition: all .3s cubic-bezier(0.65, 0.05, 0.36, 1);
                    .title{
                        font-weight: bold;
                        font-size: 20px;
                    }
                    .line{
                        width: 30%;
                        height:3px;
                        @include linear-gradient(to left, #F3D181 , #CB9718);
                        transition: all 1s;
                        margin:7% 0;
                    }
                    .description{
                        transition: all .2s ease-in-out;
                    }
                    .content{
                        height: 0;
                        overflow: hidden;
                    }
                }
            }
            .swiper-slide-box:nth-of-type(3n){
                margin: 0 0 20px 0;
            }
            .swiper-slide-box:hover{
                .box-text{
                    height:100%;
                    bottom:0;
                    padding-top: 25%;
                    background: rgba(195,154,97,.8);
                    .line{
                        background: #fff;
                    }
                    .description{
                        height: 0; 
                        overflow: hidden;
                    }
                    .content{
                        height: auto;
                    }
                }
            }
        }
        
        .celebration-swiper-pagination{
            text-align: center;
            z-index: 10;
            position: absolute;
            bottom: 1% !important;
            .swiper-pagination-bullet {
                width: 8px;
                height: 8px;
                background: transparent;
                border: 1px solid #C49B63;
                margin: 0 1%;
            }
            .swiper-pagination-bullet-active {
                opacity: 1;
                width: 6px;
                height: 6px;
                background: #C49B63;
                position: relative;
            }
            .swiper-pagination-bullet-active::after{
                content: '';
                width: 10px;
                height: 10px;
                border:1px solid #C49B63;
                position: absolute;
                border-radius: 100%;
                top:-4px;
                left: -4px;
            }
            .swiper-pagination-bullet-active::before{
                content: '';
                width: 16px;
                height: 16px;
                border:1px solid #C49B63;
                position: absolute;
                border-radius: 100%;
                top: -7px;
                left: -7px;
            }
        }
    }
    
}
// 会场指引
.guide{
    .list{
        border-top: 1px solid #cb9718;
        border-bottom: 1px solid #cb9718;
        width: 1024px;
        margin: auto;
        padding:3% 0;
        overflow: hidden;
        color: #fff;
        >div{
            float: left;
        }
        .list-text{
            width: 30%;
            position: relative;
            img{
                position: absolute;    
                top: 18%;
                left: 5%;

            }
            .text-block{
                margin:18%;
                font-size:14px;
                .title{
                    font-size: 24px;
                    margin-bottom: 10px;
                }
            }
        }
        .list-img{
            width: 70%;
            img{
                width: 100%;
            }
        }
    }
}
// 合作媒体
.partner{
    margin: 6% auto 4%;
    max-width: 1024px;
    .partner-title{
        color:#cb9718;
        font-size: 36px;
        text-align: left;
        margin-bottom: 2%;
    }
    .partner-content{
        width: 100%;
        margin: 0 auto;
        .content-box{
            width:9.1% ;
            height:30px;
            background: #fff;
            margin: 0 1% 1% 0;
            display: inline-block;
        }
        .content-box:nth-child(10n){
            margin: 0 0 1% 0;
        }
    }
}