@charset "utf-8";
@import "_common";
@import "swiper.min.css";
.text{
    width:1336px;
    margin:0 auto 40px;
    text-align: center;
    .text-title{
        color: #CB9718;
        font-size: 64px;
        margin-top: 80px;
        text-align: left;
    }
}
// 科技赋能教育
.technology{
    background:#262525 ;
    color: #fff;
    padding:176px 0 144px;
    .technology-position{
        font-size: 24px;
        width:1336px;
        margin: 0 auto 18px;
    }
    .technology-title{
        font-size: 86px;
        width:1336px;
        margin: 0 auto 18px;
        font-weight: bold;
        letter-spacing: 2px;
    }
    .technology-title-2{
        font-size: 32px;
        width:1336px;
        margin: 0 auto;
    }
    .technology-description{
        font-size: 24px;
        width:1336px;
        margin: 48px auto 60px;
    }
    .technology-btn{
        width:1336px;
        margin: 0 auto 0;
        div{
            font-size: 28px;
            display: inline-block;
            border: 1px solid #C39A61;
            text-align: center;
            width: 174px;
            height: 50px;
            line-height: 50px;
            transition: all .3s ; 
        }
        div:hover{
            cursor: pointer;
            background: #C39A61;
        }
    }
}
// 大会嘉宾
.guest{
    .guest-banner{
        width: 1336px;
        margin:0 auto;
        .swiper-slide{
            width: 23.57%;
            height: 410px;
            overflow: hidden;
            img{
                width: 100%;
                display: block;
            }
            img:nth-child(1){
                visibility: hidden;
                position: absolute;
            }
        }
        .swiper-slide-active{
            width:29.19% !important;
            img:nth-child(1){
                visibility: visible;
                position: relative;
            }
        }
    }
}
// 日程安排
.arrange{
    .list{
        border-top: 3px solid #cb9718;
        border-bottom: 3px solid #cb9718;
        width: 1336px;
        margin: auto;
        padding:32px 0;
        .list-box{
            overflow: hidden;
            .list-left{
                color: #B1B1B1;
                display: inline-block;
                width: 11%;
                float:left;
                .list-left-title{
                    font-size: 34px;
                    margin-bottom: 8px;
                }
                .list-left-timetable{
                    font-size: 24px;
                }
            }
            .list-right{
                border-left:1px solid #666;
                width: 89%;
                display: inline-block;
                padding-left:6%;
                font-size:20px;
                color: #B1B1B1;
                float: left;
                .lists{
                    height: 40px;
                    margin-bottom: 9px;
                    div{
                        display: inline-block;
                        float: left;
                        line-height: 1.6;
                    }
                    .meeting{
                        width: 50%;
                        color:#fff;
                        font-size:24px;
                    }
                    .name{
                        width: 39%;
                        text-align: center;
                    }
                    .time{
                        width: 11%;
                        text-align: right;
                    }
                }
                
            }
        }
    }
}
// 庆典
.celebration{
    .celebration-banner{
        margin: 80px auto;
        width:1336px;
        .swiper-slide{  
            padding-bottom:4%;
            position: relative;
            text-align: center;
            .swiper-slide-box{
                position: relative;
                margin: 10% auto;
                width: 32%;
                overflow: hidden;
                display: inline-block;
                margin: 0 2% 2% 0;
                img{
                    width: 100%;
                    display: block;
                }
                .box-text{
                    color: #fff;
                    position: absolute;
                    bottom: 0;
                    overflow: hidden;
                    text-align: left;
                    width: 100%;
                    height: 45%;
                    padding: 0 11%;
                    font-size: 16px;
                    transition: all .3s cubic-bezier(0.65, 0.05, 0.36, 1);
                    .title{
                        font-weight: bold;
                        font-size: 28px;
                    }
                    .line{
                        width: 30%;
                        height:4px;
                        @include linear-gradient(to left, #F3D181 , #CB9718);
                        transition: all 1s;
                        margin:20px 0;
                    }
                    .description{
                        transition: all .2s ease-in-out;
                    }
                    .content{
                        height: 0;
                        overflow: hidden;
                    }
                }
            }
            .swiper-slide-box:nth-of-type(3n){
                margin: 0 0 2% 0;
            }
            .swiper-slide-box:hover{
                .box-text{
                    height:100%;
                    bottom:0;
                    padding-top: 25%;
                    background: rgba(195,154,97,.8);
                    .line{
                        background: #fff;
                    }
                    .description{
                        height: 0; 
                        overflow: hidden;
                    }
                    .content{
                        height: auto;
                    }
                }
            }
        }
        
        .celebration-swiper-pagination{
            text-align: center;
            z-index: 10;
            position: absolute;
            bottom: 2% !important;
            .swiper-pagination-bullet {
                width: 19px;
                height: 19px;
                background: transparent;
                border: 1px solid #C49B63;
                margin: 0 1%;
            }
            .swiper-pagination-bullet-active {
                opacity: 1;
                width: 14px;
                height: 14px;
                background: #C49B63;
                position: relative;
            }
            .swiper-pagination-bullet-active::after {
            content: '';
                width: 24px;
                height: 24px;
                border: 1px solid #C49B63;
                position: absolute;
                @include radius(100%);
                top: -7px;
                left: -7px;
            }
            .swiper-pagination-bullet-active::before {
            content: '';
                width: 36px;
                height: 36px;
                border: 1px solid #C49B63;
                position: absolute;
                @include radius(100%);
                top: -13px;
                left: -13px;
            }
        }
    }
    
}
// 会场指引
.guide{
    .list{
        border-top: 3px solid #cb9718;
        width: 1336px;
        margin: auto;
        padding:40px 0;
        overflow: hidden;
        color: #fff;
        >div{
            float: left;
        }
        .list-text{
            width: 30%;
            position: relative;
            img{
                position: absolute;    
                top: 96px;
                left: 0;
            }
            .text-block{
                margin:92px 12%;
                font-size:24px;
                .title{
                    font-size: 34px;
                    margin-bottom: 10px;
                }
            }
        }
        .list-img{
            width: 70%;
            img{
                width: 100%;
            }
        }
    }
}
// 合作媒体
.partner{
    margin: 6% auto 4%;
    width: 1336px;
    .partner-title{
        color:#cb9718;
        font-size: 64px;
        text-align: left;
        line-height: 1;
        margin-bottom: 40px;
    }
    .partner-content{
        border-top: 3px solid #cb9718;
        width: 100%;
        margin: 0 auto;
        padding: 40px 0 0;
        .content-box{
            width:9.1% ;
            height:54px;
            background: #fff;
            margin: 0 1% 1% 0;
            display: inline-block;
        }
        .content-box:nth-child(10n){
            margin: 0 0 1% 0;
        }
    }
}
@media (max-width: 1335px ) {
    .text{
        width:960px !important;
        .text-title {
            font-size: 48px!important;
        }
    }
    .technology{
        .technology-position{
            width:960px !important;
            font-size:18px;
        }
        .technology-title{
            width:960px !important;
            font-size:72px;
        }
        .technology-title-2{
            width:960px !important;    
            font-size: 28px;
        }
        .technology-description{
            width:960px !important;
            font-size:28px;
        }
        .technology-btn{
            width:960px !important;
            div{
                font-size: 24px;
                width: 150px;
                height: 46px;
                line-height: 46px;
            }
        }
    }
    .guest{
        .guest-banner{
            width: 960px;
            .swiper-slide{
                height: 301.69px;
            }
        }
    }
    .arrange{
        .list{
            width: 960px;
            .list-box .list-left .list-left-title{
                font-size: 28px !important;
            }
            .list-right {
                font-size: 16px !important;
                .lists .meeting{
                    font-size: 18px !important;
                }
            }
        }
    }
    .celebration{
        .celebration-banner{
            width:960px;
            .swiper-slide{  
                .box-text{
                    font-size: 12px!important;
                    .title{
                        font-size: 22px !important;
                    }
                    .line{
                        margin:10px 0 !important;
                    }
                }
            }
        }
    }
    .guide{
        .list{
            width: 960px;
            padding:20px 0;
            .list-text {
                img {
                    top: 65px;
                }
                .text-block{
                    margin: 62px 12%;
                    font-size: 16px!important;
                    .title {
                        font-size: 28px!important;
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
    .partner{
        width: 960px;
        .partner-title{
            font-size: 48px;
        }
        .partner-content{
            .content-box{
                height:40px;
            }
        }
    }
}