@import "_reset";
@import "_mixin";
@import "_var";

.main-wrapper {
  padding-top: 1rem;
}

.header {
  width: 100%;
  height: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  background-color: #191919;

  .header-content {
    width: 100%;
    @include clearfix;

    .logo {
      width: 4.6rem;
      display: block;
      float: left;
      line-height: 1rem;
      padding: 0 .3rem;

      img {
        width: 100%;
        vertical-align: middle;
      }
    }

    .menu-btn {
      width: 1.04rem;
      float: right;
      line-height: 1rem;

      img {
        width: 100%;
        vertical-align: middle;
      }
    }

    div.menu-btn {
      padding: 0 .3rem;
    }

    a.menu-btn {
      padding: 0 .22rem;
    }
  }
}

.point-wrapper {
  width: 100%;
  height: calc(100%);
  background-color: #252626;
  position: fixed;
  top: 1rem;
  left: 0;
  z-index: 9;
  display: none;
  border-top: 1px solid #C49B63;
  padding: .6rem .3rem;

  .point-item {
    font-size: .32rem;
    color: #fff;
    text-align: right;
    display: block;
    outline: none;
    line-height: 1rem;
    border-bottom: 1px solid #C49B63;
  }
}

.dv-title,
.white-title {
  background-image:-webkit-linear-gradient(top,#CB9718,#F7BE3C);
  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;
}

.art-pagination {
  width: 100%;
  padding: .1rem .4rem .8rem;

  .prev,
  .next {
    font-size: .32rem;

    a {
      color: #191818;
      display: block;
    }

    &.disabled {
      a {
        color: #9B9B9B;
      }
    }
  }

  .prev {
    a:before {
      content: '<';
      display: inline-block;
      vertical-align: .06rem;
      margin-right: .1rem;
    }
  }

  .next {
    text-align: right;

    a:after {
      content: '>';
      display: inline-block;
      vertical-align: .06rem;
      margin-left: .1rem;
    }
  }

  .back-btn {
    width: 1.48rem;
    height: .42rem;
    display: block;
    margin: .1rem auto 0;
    text-align: center;
    line-height: .42rem;
    color: #fff;
    background-color: #262525;
    border-radius: .08rem;
  }
}

.live-container {
  width: 100%;
  height: 100%;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(255,255,255, 0.6);
  z-index: 100;
  display: none;

  .live-content {
    width: 6.64rem;
    height: 4.68rem;
    position: fixed;
    top: 20%;
    left: 50%;
    margin-left: -3.32rem;
    background: #fff url('../images/net-bg.png') no-repeat left bottom;
    background-size: 1.6rem auto;

    .live-header {
      height: .8rem;
      line-height: .8rem;
      background: #262525;
      font-size: .36rem;
      color: #D6D2D2;
      text-align: center;
      font-family: PingFangSC-Medium;
      position: relative;

      .close {
        width: .8rem;
        height: .8rem;
        line-height: .8rem;
        position: absolute;
        top: 0;
        right: 0;

        img {
          width: .36rem;
          vertical-align: -.04rem;
        }
      }
    }

    .live-body {
      padding: .6rem .8rem;

      .input-group {
        margin-bottom: .24rem;

        .label {
          width: 1.4rem;
          font-size: .28rem;
          color: #262525;
          line-height: .44rem;
          text-align: right;
          white-space: nowrap;
        }

        .input-box {
          width: 3.48rem;

          input {
            width: 100%;
            height: .44rem;
            border: .02rem solid #999;
            outline: none;
            line-height: .4rem;
            padding: 0 .1rem;
            font-size: .28rem;
            color: #333;

            &.error {
              color: #CF5C5C;
              font-size: .2rem;
            }
          }

          &.vercode-box {
            padding-right: 1.7rem;
            position: relative;
          }

          .vercode {
            width: 1.58rem;
            height: .44rem;
            background-color: #C49B63;
            font-size: .24rem;
            color: #fff;
            line-height: .44rem;
            text-align: center;
            position: absolute;
            top: 0;
            right: 0;

            &.disabled {
              opacity: .6;
            }
          }
        }
      }

      .tips {
        font-size: .24rem;
        color: #262525;
        text-align: center;
      }

      .submit-line {
        margin-top: .5rem;
        text-align: center;

        .submit-btn {
          width: 1.76rem;
          height: .48rem;
          line-height: .48rem;
          text-align: center;
          background-color: #262525;
          display: inline-block;
          border: 0;
          font-size: .28rem;
          color: #fff;
          outline: none;
        }
      }
    }

    .thanks-body {
      padding: 1.34rem .1rem 0;
    }

    .thanks-txt {
      font-size: .36rem;
      color: #262525;
      text-align: center;
    }

    .thanks-tips {
      font-size: .24rem;
      color: #262525;
      text-align: center;
      margin-top: .24rem;
    }
  }
}

.video-pop {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;

  .video-box {
    width: 100%;
    line-height: 0;
    background-color: #ccc;
    @include abs-center;

    video {
      width: 100%;
    }
  }

  .close {
    width: .6rem;
    height: .6rem;
    line-height: 0;
    position: absolute;
    left: 50%;
    margin-left: -.3rem;
    bottom: -1rem;

    img {
      width: 100%;
    }
  }
}
