@charset "utf-8";
@import "_common";

.article-wrapper {
  padding: .64rem .4rem;

  .art-title {
    font-size: .48rem;
    color: #333;
    font-weight: bold;
    @include text-overflow();
    padding-bottom: .4rem;
    position: relative;
    border-bottom: .02rem solid #C49B63;
  }

  .article-content {
    padding: .4rem 0;

    h5 {
      font-size: .48rem;
      color: #2A2A2A;
      line-height: .56rem;
      margin-bottom: .1rem;
    }

    p {
      font-size: .32rem;
      color: #666;
      line-height: .56rem;
      text-align: justify;

      a {
        color: #666;
      }

      & + h5 {
        margin-top: .5rem;
      }

      span {
        color: #c49b63;
      }

      &.mt50 {
        margin-top: .5rem;
      }
    }

    .img-box {
      width: 100%;
      text-align: center;
      line-height: 0;
      margin-bottom: .5rem;

      img {
        max-width: 100%;
      }
    }
  }
}
