@charset "utf-8";
@import "_common";

.edu-banner {
  height: 6rem;
  background-color: #6d6d6d;
  padding: 1.5rem .4rem;
  font-size: .96rem;
  color: #fff;
  line-height: 1.35rem;
}

.article-wrapper {
  padding: .4rem;

  .video-wrapper {
    width: 100%;
    background-color: #d8d8d8;
    margin-bottom: .4rem;
    position: relative;
    line-height: 0;

    video {
      width: 100%;
    }

    .play-btn {
      width: .92rem;
      height: .92rem;
      line-height: 0;
      @include abs-center;
      cursor: pointer;

      img {
        width: 100%;
      }
    }
  }

  .art-title {
    font-size: .48rem;
    color: #333;
    padding-bottom: .4rem;
    position: relative;
    border-bottom: .02rem solid #C49B63;
    font-family: PingFangSC-Medium;

    p {
      font-size: .24rem;
      color: #666;
      margin-top: .22rem;
      font-family: PingFangSC-Regular;
    }
  }

  .article-content {
    padding: .4rem 0 0;

    h5 {
      font-size: .32rem;
      color: #2A2A2A;
      line-height: .56rem;
      margin-bottom: .4rem;
    }

    p {
      font-size: .32rem;
      color: #666;
      line-height: .56rem;
      margin-bottom: .5rem;
      text-align: justify;
    }

    .img-box {
      width: 100%;
      text-align: center;
      line-height: 0;
      margin-bottom: .5rem;

      img {
        max-width: 100%;
      }
    }
  }
}
