<div class="header">
  <div class="header-content">
    <a href="#" class="logo"><img src="./images/logo.png"></a>
    @if (context.title === 'index' ) { <a href="javascript:;" class="menu-btn" id="menu"><img class="menu" src="./images/menu.png"><img class="close" src="./images/close.png" style="display: none;"></a> }
    @if (context.title !== 'index' ) { <a href="./index.html" class="menu-btn"><img src="./images/home.png"></a> }
  </div>

  <div class="point-wrapper" id="point-wrapper">
    <a href="javascript:;" class="point-item">首页</a>
    <a href="javascript:;" class="point-item">让教育更美好</a>
    <a href="javascript:;" class="point-item">庆典盛况</a>
    <a href="javascript:;" class="point-item">育才计划</a>
    <a href="javascript:;" class="point-item">希沃发展</a>
    <a href="javascript:;" class="point-item">合作媒体</a>
  </div>
</div>
